@import '@/assets/css/reset.css';
@import '@/assets/css/fonts.css';

body {
  font-family: 'Roboto', sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr) min(80rem, 100%) repeat(2, 1fr);
  margin-block-end: 2rem;
  padding-inline: 16px;

  > * {
    grid-column: 3;
  }

  .half-bleed {
    grid-column: 2 / -2;
    width: 100%;
  }

  .full-bleed {
    grid-column: 1 / -1;
    width: 100%;
  }

  [class*='-bleed'] {
    margin-block: 1.5rem;
  }
}

header {
  margin-block-end: 2rem;
}
